body 
{
    height: 100vh;
    background-color: #f7f1e3;
    font-family: 'Roboto', sans-serif;
}

/** Menu **/

.menu-container 
{
    position: relative;
    padding: 43px 26px;
    font-family: 'Playfair Display', serif;
}

.menu
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-contents
{
    font-size: 22px;
    line-height: 33px;
}


/** Main page **/

.image-container
{
    margin: 0 auto;
    margin-top: 65px;
    width: 80.209%;
}

.image-contents
{
    width: 100%;
    height: 334px;
    display: flex;
}

.image-contents.image-top
{
    flex-flow: row nowrap;
}

.image-contents.image-bottom
{
    flex-flow: row-reverse nowrap;
}

.images
{
    width: 79.221%;
    height: inherit;
    background-color: black;
    object-fit: none;
}

.image-top .images 
{
    object-position: 50% 35%;
}

.image-bottom .images
{
    object-position: 50% 75%;
}