.container
{
    height: 100vh;
    background-color: #f7f1e3;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container .introduction
{
    text-align: center;
}

.container .introduction h1
{
    font-size: 5em;
}

.container .introduction p
{
    font-size: 1.2em;
}

.container .projectContainer h2
{
    padding-left: 7px;
}

.container .projectContainer .projectList
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .projectContainer .projectList .projects
{
    margin: 7px;
    padding: 7px;
    min-width: 400px;
    max-width: 450px;
    height: 20vh;
    background-color:#ff5252;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.container .projectContainer .projectList .projects p
{
    padding-top: 250px;
    transition: padding-top 0.5s ease;
}

.container .projectContainer .projectList .projects:hover p
{
    padding-top: 0px;
}

.container .projectContainer .projectList .projects:hover
{
    box-shadow: 10px 10px 10px grey;
    transform: translateX(7px);
}