body 
{
    height: 100vh;
    background-color: #f7f1e3;
    overflow-x: hidden;
}

/** Menu **/

.menu-container 
{
    position: relative;
    padding: 43px 26px;
    font-family: 'Playfair Display', serif;
}

.menu
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-contents
{
    font-size: 22px;
    line-height: 33px;
}


/** Main page **/

.main-container
{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.main-container .main-title
{
    position: absolute;
    left: -884px;
    top: -195px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 800px;
    line-height: 1066px;
    color: rgba(184, 178, 173, 0.25);
    transform: rotate(-22deg);
    z-index: -1;
}

.image-container
{
    margin: 0 auto;
    margin-top: 65px;
    width: 80.209%;
}

.image-contents
{
    width: 100%;
    height: 334px;
    display: flex;
}

.image-contents.image-content-top
{
    flex-flow: row nowrap;
}

.image-contents.image-content-bottom
{
    flex-flow: row-reverse nowrap;
}

.images
{
    width: 79.221%;
    height: inherit;
    background-color: black;
    object-fit: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.image-content-top .image-top
{
    object-position: 50% 35%;
}

.image-content-bottom .image-bottom
{
    object-position: 50% 75%;
}

.image-container:hover .image-content-top .image-top
{
    object-position: 0% 35%;
}

.image-container:hover .image-content-bottom .image-bottom
{
    object-position: 85% 75%;
}

.project-text
{
    position: absolute;
    top: 386px;
    left: 26px;
    font-family: 'Poppins', sans-serif;
}

.project-text .project-label
{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #383635;
}

.project-text .project-title
{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 66px;
    color: #383635;
}